# Terraform working directories
ec2/.terraform/
vpc/.terraform/
k8s-project/.terraform/

# Terraform state files
ec2/*.tfstate
ec2/*.tfstate.backup
vpc/*.tfstate
vpc/*.tfstate.backup
k8s-project/*.tfstate

#recusive
**/*.tfstate 


# Keys / credentials
ec2/public-key.pem
*.pem
.env

#Keys / credentials
k8s-project/*.kubeconfig
k8s-project/*.kubeconfig.backup
k8s-project/.kube/
k8s-project/*.pem

k8s-project/*.log
k8s-project/*.tfvars
k8s-project/tfplan
#k8s-project/*.tfplan